paramiko
netifaces
PySide6
scapy
dnspython
pandas
networkx
netmiko
napalm
requests
pexpect
pyshark
python-igraph
speedtest-cli
matplotlib
scikit-learn
pyvis
nltk
SpeechRecognition
pyaudio
transformers
torch
cryptography
